.idea
Thumbs.db
.DS_Store
.sass-cache
/vendor
/component
composer.lock
composer.json~
composer.phar
/lib

# Node/Yarn/Encore
node_modules
package-lock.json
yarn.lock
/build
src/Resources/public/js/entrypoints.json
src/Resources/public/js/manifest.json

# PHPDocumentator
docs/cache
docs/build

# PHPUnit
.phpunit.result.cache
/var
