.tl_content_left  {
  .tl_content {
    margin-left: 20px;
    border-bottom: 0;
    border-top: 1px solid #e9e9e9;
    padding-right: 0;
    margin-right: -7px;

    &::before {
      content: url('/bundles/heimrichhannotcontaoutils/img/icon-subrecord-arrow.png');
      display: inline-block;
      float: left;
      margin-right: 5px;
      margin-bottom: -5px;
    }

    &:first-of-type {
      margin-top: 7px;
    }

    &:last-of-type {
      padding-bottom: 0;
    }

    .tl_content_right {
      margin-right: 7px;
    }
  }
}